body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 100vu;
    background: #000;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 48px;
}

.title {
    background: #e3f4ff;
    margin: 5px; 
    padding: 15px;
    text-align: left;
}

p {
    font-size: 18px;
}

ul {
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width=400px;
    height: auto;
}